@model BookBorrowVM

@{

}

<h2>Borrow Book Form</h2>

<form asp-action="Borrow" method="post">
    <div class="mb-3">
        <label for="BookId" class="form-label">Book Id</label>
        <input asp-for="BookId" type="number" class="form-control" id="BookId">
        <span class="text-danger" asp-validation-for="BookId"></span>
    </div>
    <div class="mb-3">
        <label for="ClientId" class="form-label">Client Id</label>
        <input asp-for="ClientId" type="number" class="form-control" id="ClientId">
        <span class="text-danger" asp-validation-for="ClientId"></span>

    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



}